<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pokenea Filosófico</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Agrega aquí cualquier enlace a tus estilos CSS personalizados si es necesario -->
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Pokenea Filosófico</h1>
        <div class="card mx-auto" style="width: 18rem;">
            <img id="pokenea-image" src="" class="card-img-top" alt="Pokenea Image">
            <div class="card-body">
                <h5 class="card-title" id="pokenea-nombre"></h5>
                <p class="card-text" id="pokenea-frase"></p>
            </div>
        </div>
    </div>

    <script>
        function getRandomPokenea() {
            fetch('/random_pokenea')
                .then(response => response.json())
                .then(data => {
                    console.log("Respuesta de /random_pokenea:", data);
                    updatePokeneaCard(data);
                });
        }

        function updatePokeneaCard(pokenea) {
            document.getElementById('pokenea-nombre').textContent = pokenea.nombre;
            document.getElementById('pokenea-frase').textContent = pokenea.frase_filosofica;
            document.getElementById('pokenea-image').src = pokenea.imagen_url;
        }

        getRandomPokenea();  // Carga un Pokenea aleatorio al cargar la página
    </script>

    <!-- Agrega aquí cualquier enlace a tus scripts JavaScript si es necesario -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJjZIIFS" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJ5NvHHJoAd8cv6ZJmZVZZVa8Bnt7CSdPvtTz8KtCHPpZu7LauEM7" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
